{% extends "admin/base.html" %}

{% block extrahead %}{{ block.super }}
  <style>
    :root {
      --primary: #5c6e77;
      --secondary: #417690;
      --accent: #ffc;

      --header-color: #ffc;
      --header-branding-color: #fade48;
      --header-bg: #72c153;

      --link-fg: #235a75;
      --link-hover-color: #488fd6;
    }
    .login #header h1 {
      font-size: 25px;
    }
  </style>
{% endblock%}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Мой Сервис{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Мой Сервис</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}